:root {
    /* colors */
    --clr-goldenBrown: 53 95% 66%;
    --clr-whiteBlue: 186 5% 96%;
    --clr-gold: 53 85% 96%;
    --clr-pink: 327 95% 96%;
    --clr-violet: 327 90% 66%;

    /* colors - blue silver monochromatic */
    --clr-darkSteel: 187 7% 10%;
    --clr-steel: 187 7% 45%;
    --clr-lightBlue: 187 37% 96%;
    --clr-lightSilver: 187 7% 95%;
    --clr-steelBlue: 187 37% 45%;
    --clr-silver: 187 7% 75%;
    --clr-medSteel: 187 7% 30%;

    /* color map */
    --bg-header: var(--clr-steelBlue);
    --ac-header: var(--clr-silver);
    --bg-body: var(--clr-lightSilver);

    /* font */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fs-800: calc(3.4rem + 0.25vw);
    --fs-700: calc(3.0rem + 0.25vw);
    --fs-600: calc(2.7rem + 0.25vw);
    --fs-500: calc(2.3rem + 0.25vw);
    --fs-400: calc(1.7rem + 0.25vw);
    --fs-300: calc(1.2rem + 0.25vw);
    --fs-200: calc(1rem + 0.25vw);
    --fs-100: calc(0.7rem + 0.25vw);
}

/* reset */
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: transparent;
    background: none;
    border: none;
    color: inherit;
}

body {
    width: 100vw;
    overflow-x: hidden;
    height: auto;
}

a:visited {
    color: hsl(var(--clr-gold));
}

a {
    color: hsl(var(--clr-goldenBrown))
}

img {
    image-rendering: optimizeQuality;
    object-fit: contain;
}

p, ul, ol {
    font-size: var(--fs-300);
}

h1,h2,h3,h4 {
    color: hsl(var(--clr-lightSilver));
}

h1 {font-size: var(--fs-800);}
h2 {font-size: var(--fs-600);}
h3 {font-size: var(--fs-500);}
h4 {font-size: var(--fs-300);}

/* Utility Classes */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.pg-margin {
    margin: 0 15%;
}

/* animation classes */
.slideIn-left {
    position: relative;
    animation-name: slideIn-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    left: 100%;
}

@keyframes slideIn-left {
    to {
        left: 0;
    }
}

.point-vert {
    display: block;
    backface-visibility: hidden;
    animation-name: point-vert-animation;
    animation-duration:  1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes point-vert-animation {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(30px);
    }
}


.slideIn-down {
    position: relative;
    animation-name: slideIn-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    bottom: 100%;
}

@keyframes slideIn-down {
    to {
        bottom: 0;
    }
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    to {
        opacity: 100%;
    }
}

.greyScale-transition {
    animation-name: greyScale-transition;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes greyScale-transition {
    to {
        filter: grayscale(0);
    }
}

/* font color by bg */
.fc-body {background-color: hsl(var(--clr-silver));}
.fc-header {background-color: hsl(var(--clr-lightSilver));}
/* font by color */
.fc-steel{ color: hsl(var(--clr-steel));}
.fc-lightBlue{ color: hsl(var(--clr-lightBlue));}
.fc-lightSilver{ color: hsl(var(--clr-lightSilver));}
.fc-steelBlue{ color: hsl(var(--clr-steelBlue));}
.fc-silver{ color: hsl(var(--clr-silver));}
.fc-white { color: #FFF;}

/* font size util */
.fs-800 {font-size: var(--fs-800);}
.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}
.fs-300 {font-size: var(--fs-300);}
.fs-200 {font-size: var(--fs-200);}
.fs-100 {font-size: var(--fs-100);}

/* Text decor */
.underline {text-decoration: underline;}

/* background & accent colors */
.bg-body {background-color: hsl(var(--bg-body));}
.bg-header {background-color: hsl(var(--bg-header));}
.ac-header {background-color: hsl(var(--clr-lightSilver));}

.bg-darkSteel{ background-color: hsl(var(--clr-darkSteel));}
.bg-steel{ background-color: hsl(var(--clr-steel));}
.bg-lightBlue{ background-color: hsl(var(--clr-lightBlue));}
.bg-lightSilver{ background-color: hsl(var(--clr-lightSilver));}
.bg-steelBlue{ background-color: hsl(var(--clr-steelBlue));}
.bg-silver{ background-color: hsl(var(--clr-silver));}


#canvas-container::before {
    content: "";
    position: absolute;
    height: 5%;
    width: 100%;
    background: linear-gradient(hsl(var(--clr-lightSilver)), hsl(var(--clr-darkSteel)));
}

#me:hover {
    animation: greyScale-transition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
}

.form-control {
    display: block;
    min-width: 50vw;
    max-width: 80vw;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid hsl(var(--clr-silver));
    color: hsl(var(--clr-lightSilver));
    font-size: var(--fs-300);
    margin-bottom: 1ch;
}

form .submit {
    background: hsl(var(--clr-medSteel));
    border: none;
    border-radius: 12px;
    min-width: 0;
    align-self: center;
}

form .submit:hover {
    background: hsl(var(--clr-steelBlue));
    color: hsl(var(--clr-darkSteel));
}

.project {
    position: relative;
    display: flex;
    padding: 4ch 2ch;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 40px;
    /* border: 2px solid pink; */
}

.project button {
    min-width: 400px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: space-evenly;
    padding: 2ch;
}

/* used with the videoOpacity script */
.project video, .project img {
    width: 600px;
    max-width: 90%;
    min-width: 200px;
    opacity: 40%;
    box-shadow: 2px 2px 8px 2px hsl(var(--clr-steelBlue));
}

.project img {
    opacity: 80%;
}

/* used with the videoOpacity script */
.project video:hover, .project img:hover {
    opacity: 100%;
}

/* used with the videoOpacity script */
.project .opaque {
    opacity: 100%;
}

.debug {
    border: 2px solid green;
}
