
/* Popup container */
.popup-right, .popup-above{
  position: relative;
  cursor: pointer;
}

.popup-above .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 5px);
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  z-index: 5;
  border-color: hsl(var(--clr-medSteel)) transparent transparent transparent;
}

/* Left popup arrow */
.popup-right .popuptext::after {
  content: "";
  position: absolute;
  transform: rotateZ(90deg);
  top: calc(50% - 5px);
  left: -10px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  z-index: 5;
  border-color: hsl(var(--clr-medSteel)) transparent transparent transparent;
}

.popuptext {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: hsl(var(--clr-whiteBlue));
  background-color: hsl(var(--clr-medSteel));
  border-radius: 6px;
  padding: 1ch;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  gap: 30px;
}

.popuptext h1 {
    font-size: var(--fs-100);
    margin-top: 2ch;
    color: hsl(var(--clr-steelBlue));
}

.popuptext p {
    font-size: var(--fs-100);
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-right .show, .popup-above .show {
  visibility: visible;
  opacity: 0;
  min-width: 200px;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

@keyframes pop {
  to {
  box-shadow: 4px 4px 6px;
  }
}

@keyframes fadeIn {
    to {
        opacity: 100%;
    }
}
