
/* Popup container */
.popup-right, .popup-above{
  position: relative;
  cursor: pointer;
}

.popup-right .popuptext, .popup-above .popuptext {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  color: hsl(var(--clr-whiteBlue));
  background-color: hsl(var(--clr-medSteel));
  border-radius: 6px;
  padding: 1ch;
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.popup-above .popuptext::after {
  content: "";
  position: absolute;
  transform: scale3d(4.0, 4.0, 1);
  top: calc(100% + 5px * 3);
  left: calc(50% - 5px);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  z-index: 5;
  border-color: hsl(var(--clr-medSteel)) transparent transparent transparent;
}

.popuptext h1 {
    font-size: var(--fs-100);
    margin-top: 2ch;
    color: hsl(var(--clr-steelBlue));
}

.popuptext p {
    font-size: var(--fs-100);
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup-right .show, .popup-above .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.popup-right:hover, .popup-above:hover {
    box-shadow: 1px 1px 6px hsl(var(--clr-lightBlue));
}

.popup-right .popuptext {
  left: 105%;
  top: 30%;
}

/* Left popup arrow */
.popup-right .popuptext::after {
  content: "";
  position: absolute;
  transform: rotateZ(90deg);
  top: calc(50% - 5px);
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  z-index: 5;
  border-color: hsl(var(--clr-medSteel)) transparent transparent transparent;
}