.project {
    background-color: hsl(var(--clr-steelBlue));
    min-width: 300px;
    width: 75%;
    border-radius: 12px;
    position: relative;
    display: flex;
    padding: 4ch 2ch;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 95vw;
    gap: 40px;
    /* border: 2px solid pink; */
}

/* used with the videoOpacity script */
.project video, .project img {
    border: 1px solid hsl(var(--clr-darkSteel));
    width: 600px;
    min-width: 200px;
    max-width: 98%;
    opacity: 80%;
}

.project img {
    opacity: 90%;
    box-shadow: 2px 2px 8px 2px hsl(var(--clr-steelBlue));
    transition: transform .2s ease;
    height: 100%;
}

.project img:hover {
    transform: scale(1.02);
}

/* used with the videoOpacity script */
.project video:hover, .project img:hover {
    opacity: 100%;
}

/* used with the videoOpacity script */
.project .opaque {
    opacity: 100%;
}
/* Flip-card code from w3schools - modified for my needs */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* Also see */
/* https://1stwebdesigner.com/learn-how-to-create-flip-cards-using-css/ */
.flip-card {
    border-radius: 12px;
    flex-grow: 0.4;
    width: 35%;
    min-width: 300px;
    max-width: 600px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2ch;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    border-radius: inherit;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card-inner:hover {
    box-shadow: 0 0 8px 2px hsl(var(--clr-gold));
}

.flip {
    transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    /* 
    Bug fix for Firefox. Removing this makes content visible from front on back side of card. 
    See https://stackoverflow.com/questions/9604982/backface-visibility-not-working-properly-in-firefox-works-in-safari
    */
    transform: rotateX(0deg);

    border-radius: inherit;
    cursor: pointer;
    z-index: 100;
    padding: 1ch;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: hsl(var(--clr-darkSteel));
    padding: 2ch;
    word-break: break-word;
}

.flip-card-back {
    background-color: hsl(var(--clr-darkSteelBlue));
    transform: rotateX(180deg);
}

.flip-card-back h1 {
    font-size: var(--fs-200);
    margin-top: 1ch;
}

.flip-card-back p, .flip-card-back ul {
    font-size: var(--fs-100);
    margin: 0 2ch;
    list-style: none;
}

.flip-card-back a,
.flip-card-back span {
    margin-top: 3ch;
}

.flip-card-back a:hover {
    color: hsl(var(--clr-steelBlue));
}