.project {
    /* Safari event bubble fix */
    cursor: pointer;
    background-color: hsl(var(--clr-steel));
    min-width: 300px;
    width: 70%;
    border-radius: 12px;
    position: relative;
    display: flex;
    padding: 4ch 2ch;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 95vw;
    gap: 40px;
    /* border: 2px solid pink; */
}

/* used with the videoOpacity script */
.project video, .project img {
    width: 600px;
    max-width: 90%;
    min-width: 200px;
    opacity: 70%;
    max-width: 98%;
}

.project img {
    opacity: 80%;
    box-shadow: 2px 2px 8px 2px hsl(var(--clr-steelBlue));
    transition: transform .2s ease;
    height: 100%;
}

.project img:hover {
    transform: scale(1.02);
}

/* used with the videoOpacity script */
.project video:hover, .project img:hover {
    opacity: 100%;
}

/* used with the videoOpacity script */
.project .opaque {
    opacity: 100%;
}
/* Flip-card code from w3schools - modified for my needs */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* Also see */
/* https://1stwebdesigner.com/learn-how-to-create-flip-cards-using-css/ */
/* The flip card container - set the width and height to whatever you want. We have added the border property 
to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    width: 70%;
    min-width: 300px;
    height: 200px;
    min-height: 360px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2ch;
    background-color: transparent;
    border: 1px solid hsl(var(--clr-steelBlue));
    border-radius: 16px;
    /* Remove this if you don't want the 3D effect */
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card-inner:hover {
    box-shadow: 0 0 8px 2px hsl(var(--clr-gold));
}

.flip {
    transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    padding: 1ch;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background-color: hsl(var(--clr-darkSteel));
    padding: 2ch;
}

.flip-card-front h2 {
    font-size: var(--fs-400);
}

.flip-card-front p {
    font-size: var(--fs-300);
}

.flip-card-back {
    background-color: hsl(var(--clr-steelBlue));
    transform: rotateX(180deg);
}

.flip-card-back h1 {
    font-size: var(--fs-200);
    margin-top: 1ch;
}

.flip-card-back p {
    font-size: var(--fs-100);
    margin: 0 2ch;
}

.flip-card-back a,
.flip-card-back span {
    margin-top: 3ch;
}